<div class="wrapper">
  <div class="choice">
    <label for="country">Search and choose country from list</label>
    <input
      class="country"
      type="text"
      placeholder="Country"
      id="country"
      matInput
      type="text"
      [matAutocomplete]="autoCountry"
      [(ngModel)]="searchCountry"
      (input)="reloadInput($event)"
    >

    <mat-autocomplete #autoCountry="matAutocomplete" class="autocomplete">
      <mat-option
        *ngFor="let country of countries | searchCountry:searchCountry"
        [value]="country.country"
        (click)="changeCountry(country.country)"
      >
        {{country.country}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="choice">
    <label for="city">Search and choose city from list</label>
    <input
      class="country"
      type="text"
      placeholder="City"
      id="city"
      matInput
      type="text"
      [matAutocomplete]="autoCity"
      [(ngModel)]="searchCity"
    >
    <mat-autocomplete #autoCity="matAutocomplete" class="autocomplete">
      <div *ngIf="Country">
        <mat-option
          *ngFor="let currentCity of Country.cities | searchCity:searchCity"
          [value]="currentCity"
          (click)="City = currentCity"
        >
          {{currentCity}}
        </mat-option>
        <mat-option *ngIf="!(Country.cities | searchCity:searchCity).length" disabled>No city available</mat-option>
      </div>
    </mat-autocomplete>
  </div>
  <button (click)="getWeather()">Search</button>
  <div *ngIf="buttonPressed" style="width: 100%">
    <div class="weather flex" *ngIf="Weather else loading">
      <div class="flex weather-cond">
        <img
          src="https://openweathermap.org/img/wn/{{Weather.weather[0].icon}}@2x.png"
          class="weather-icon"
        >
        <h1 class="weather-title temp">{{Weather.main.temp | number: '1.0-0'}}°C</h1>
      </div>
      <div class="weather-col">
        <h1 class="weather-title">{{Weather.name}}</h1>
        <p class="weather-info">Wind: {{Weather.wind.speed | number: '1.0-0'}}m/s</p>
        <p class="weather-info">Sunrise: {{Weather.sys.sunrise * 1000 | date:"H:mm (z)"}}</p>
        <p class="weather-info" (load)="buttonPressed = false">
          Sunset: {{Weather.sys.sunset * 1000 | date:"H:mm (z)"}}</p>
        <p style="letter-spacing: 0">More info on <a (click)="weatherCom(Weather.coord.lat, Weather.coord.lon)"
                                                     class="link">Weather.com</a></p>
      </div>
    </div>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</div>


